# list of excluded folders and files from repo
/**/DROP/
/**/TEMP/
/**/packages/

# excluding build folders
/**/bin/
/**/obj/

# excluding output folders
_site
_site/**
_site/*.*
node_modules

# excluding IG assemblies and xml files
src/*.dll
src/*.xml

/api/*.yml
/api/.manifest
/api/index.md
/api-full/*.*