{
"name": "{{_assemblyName}}",
"children": [
    {{#each items}}
    {{#each items}}
    {
        "uid": "{{topicUid}}",
        "name": "{{name}}",
        "href": "{{topicHref}}"
    },
    {{/each}}
    {{/each}}
]
}